*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    display: flex;
    font-family:cursive;
}
#left{
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1642176849879-92f85770f212?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#right{
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1617780421515-08fae9caa171?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
#overlay1{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.514);
}

#overlay2{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(224, 212, 212, 0.758);
}
#center1{
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#center2{
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#center2 h1 {
    color: black;
}
#center2 p{
    color: black;
}
#center2 h1:hover{
    color: blue;
}
#center2 p:hover{
    color: blue;
}

